.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
}

.header-button {
  display: flex;
  float: right;
  margin: 2em;
}

@media (max-width: 640px) {
  .header-button {
    margin: 30px 10px;
  }
}
