.intro {
  display: block;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9) 95%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: center;
  color: #fff;
  height: 100%;
}

.intro-logo {
  width: 4em;
  height: auto;
  margin-top: 1em;
  padding: 1px;
  border: 2px solid;
  border-radius: 50%;
}

.intro-text {
  position: absolute;
  top: 40%;
  left: 60%;
  width: 35%;
}

@media (max-width: 960px) {
  .intro-text {
    top: 20%;
  }
}

@media (max-width: 640px) {
  .intro-text {
    top: 20%;
  }
}

@media (max-width: 480px) {
  .intro-text {
    top: 20%;
  }
}
